<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>aiss.controller.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>aiss.controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TrailerServlet</display-name>
		<servlet-name>TrailerServlet</servlet-name>
		<servlet-class>aiss.controller.TrailerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrailerServlet</servlet-name>
		<url-pattern>/trailer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SynopsisServlet</display-name>
		<servlet-name>SynopsisServlet</servlet-name>
		<servlet-class>aiss.controller.SynopsisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SynopsisServlet</servlet-name>
		<url-pattern>/synopsis</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RecommServlet</display-name>
		<servlet-name>RecommServlet</servlet-name>
		<servlet-class>aiss.controller.RecommServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecommServlet</servlet-name>
		<url-pattern>/recommendations</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BloggerController</display-name>
		<servlet-name>BloggerController</servlet-name>
		<servlet-class>aiss.controller.BloggerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloggerController</servlet-name>
		<url-pattern>/BloggerController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BloggerAuthController</display-name>
		<servlet-name>BloggerAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Blogger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloggerAuthController</servlet-name>
		<url-pattern>/AuthController/Blogger</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BloggerOAuth2Callback</display-name>
		<servlet-name>BloggerOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Blogger</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/BloggerController</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloggerOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Blogger</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CallbackServlet</display-name>
		<servlet-name>CallbackServlet</servlet-name>
		<servlet-class>aiss.controller.CallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallbackServlet</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SigninServlet</display-name>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>aiss.controller.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/SigninServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostServlet</display-name>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>aiss.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RedirectControl</display-name>
		<servlet-name>RedirectControl</servlet-name>
		<servlet-class>aiss.controller.RedirectControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectControl</servlet-name>
		<url-pattern>/RedirectControl</url-pattern>
	</servlet-mapping>
	
	<!-- All REST resources will be prefixed by /api  -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>aiss.api.GameApplication</param-value>
		</init-param>
	</servlet>		
	
	<!-- Servlet mappings -->
	<!-- All calls to /api/xxx will be sent to the resteasy servlet -->
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
</web-app>